In [7]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Customers').getOrCreate()

In [9]:
from pyspark.ml.regression import LinearRegression

In [12]:
dataset=spark.read.csv('Ecommerce Customers.csv',inferSchema=True,header=True)

In [13]:
dataset

DataFrame[Email: string, Address: string, Avatar: string, Avg. Session Length: double, Time on App: double, Time on Website: double, Length of Membership: double, Yearly Amount Spent: double]

In [14]:
dataset.show()

+--------------------+--------------------+------------------+-------------------+------------------+------------------+--------------------+-------------------+
|               Email|             Address|            Avatar|Avg. Session Length|       Time on App|   Time on Website|Length of Membership|Yearly Amount Spent|
+--------------------+--------------------+------------------+-------------------+------------------+------------------+--------------------+-------------------+
|mstephenson@ferna...|    835 Frank Tunnel|              null|               null|              null|              null|                null|               null|
|         Wrightmouth|      MI 82180-9605"|            Violet|  34.49726772511229|12.655651149166752| 39.57766801952616|   4.082620632952961|  587.9510539684005|
|   hduke@hotmail.com|  4547 Archer Common|              null|               null|              null|              null|                null|               null|
|         Diazchester|      CA 06566-8576"|         DarkGreen| 31.926272026360156|11.109460728682564|37.268958868297744|    2.66403418213262|  392.2049334443264|
|    pallen@yahoo.com|24645 Valerie Uni...|              null|               null|              null|              null|                null|               null|
|         Cobbborough|      DC 99414-7564"|            Bisque| 33.000914755642675|11.330278057777512| 37.11059744212085|   4.104543202376424| 487.54750486747207|
|riverarebecca@gma...|1414 David Throug...|              null|               null|              null|              null|                null|               null|
|          Port Jason|      OH 22070-1220"|       SaddleBrown|  34.30555662975554|13.717513665142508| 36.72128267790313|  3.1201787827480914|  581.8523440352178|
|mstephens@davidso...|14023 Rodriguez P...|              null|               null|              null|              null|                null|               null|
|     Port Jacobville|      PR 37242-1057"|  MediumAquaMarine|  33.33067252364639|12.795188551078114| 37.53665330059473|   4.446308318351435|  599.4060920457634|
|alvareznancy@luca...|645 Martha Park A...|              null|               null|              null|              null|                null|               null|
|      Jeffreychester|      MN 67218-7250"|       FloralWhite|  33.87103787934198|12.026925339755058| 34.47687762925054|   5.493507201364199|   637.102447915074|
|katherine20@yahoo...|68388 Reyes Light...|              null|               null|              null|              null|                null|               null|
|          Josephbury|      WV 92213-0247"|     DarkSlateBlue|  32.02159550138701|11.366348309710526|36.683776152869605|  4.6850172465709115|  521.5721747578274|
|  awatkins@yahoo.com|  Unit 6538 Box 8980|              null|               null|              null|              null|                null|               null|
|  DPO AP 09026-4941"|                Aqua|32.739142938380326|  12.35195897300293|37.373358858547554|4.4342734348999375|   549.9041461052942|               null|
|vchurch@walter-ma...|         860 Lee Key|              null|               null|              null|              null|                null|               null|
|          West Debra|      SD 97450-0495"|            Salmon|  33.98777289568564|13.386235275676434|37.534497341555735|  3.2734335777477144|  570.2004089636195|
|    bonnie69@lin.biz|  PSC 2734, Box 5255|              null|               null|              null|              null|                null|               null|
|  APO AA 98456-7482"|               Brown|31.936548618448914| 11.814128294972196| 37.14516822352819| 3.202806071553459|  427.19938489532814|               null|
+--------------------+--------------------+------------------+-------------------+------------------+------------------+--------------------+-------------------+
only showing top 20 rows

In [15]:
dataset.printSchema()

root
 |-- Email: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Avatar: string (nullable = true)
 |-- Avg. Session Length: double (nullable = true)
 |-- Time on App: double (nullable = true)
 |-- Time on Website: double (nullable = true)
 |-- Length of Membership: double (nullable = true)
 |-- Yearly Amount Spent: double (nullable = true)

In [16]:
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler

In [28]:
fs=VectorAssembler(inputCols=["Avg. Session Length",'Time on App','Time on Website','Length of Membership'],outputCol='Independent Features')

In [29]:
fs.transform(dataset)

AnalysisException: Cannot resolve column name "Avg. Session Length" among (Email, Address, Avatar, Avg. Session Length, Time on App, Time on Website, Length of Membership, Yearly Amount Spent); did you mean to quote the `Avg. Session Length` column?